# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
.env
.npmrc

# Clay
clay.state.json
clay.state.json.bak
clay.state.json.lock
clay.state.json.tmp
*.log
*.tsbuildinfo
